<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2"
     xmlns="http://xmlns.jcp.org/xml/ns/persistence"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
     http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">

    <persistence-unit
        name="OpenELIS-Global-persistence-unit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- converters -->
        <class>org.itech.fhir.dataexport.core.model.converter.DataExportStatusConverter</class>
        <class>org.itech.fhir.dataexport.core.model.converter.FhirResourceTypeConverter</class>
        <class>org.openelisglobal.hibernate.converter.URIConverter</class>
        <class>org.openelisglobal.security.converter.EncryptionConverter</class>

        <!-- entities -->
        <class>org.openelisglobal.login.valueholder.LoginUser</class>
        <class>org.openelisglobal.gender.valueholder.Gender</class>
        <class>org.openelisglobal.externalconnections.valueholder.ExternalConnection</class>
        <class>org.openelisglobal.externalconnections.valueholder.ExternalConnectionContact</class>
        <class>org.openelisglobal.externalconnections.valueholder.CertificateAuthenticationData</class>
        <class>org.openelisglobal.externalconnections.valueholder.BasicAuthenticationData</class>

        <class>org.itech.fhir.dataexport.core.model.DataExportAttempt</class>
        <class>org.itech.fhir.dataexport.core.model.DataExportTask</class>

        <class>org.ozeki.sms.valueholder.OzekiMessageOut</class>

        <!-- Sample Storage Management entities (001-sample-storage) -->
        <class>org.openelisglobal.storage.valueholder.StorageRoom</class>
        <class>org.openelisglobal.storage.valueholder.StorageDevice</class>
        <class>org.openelisglobal.storage.valueholder.StorageShelf</class>
        <class>org.openelisglobal.storage.valueholder.StorageRack</class>
        <class>org.openelisglobal.storage.valueholder.StorageBox</class>
        <class>org.openelisglobal.storage.valueholder.SampleStorageAssignment</class>
        <class>org.openelisglobal.storage.valueholder.SampleStorageMovement</class>

        <!-- Alert System entities (003-freezer-monitoring) -->
        <class>org.openelisglobal.alert.valueholder.Alert</class>
        <class>org.openelisglobal.coldstorage.valueholder.CorrectiveAction</class>

        <!-- Cold Storage Management entities (003-freezer-monitoring) -->
        <class>org.openelisglobal.coldstorage.valueholder.Freezer</class>
        <class>org.openelisglobal.coldstorage.valueholder.FreezerReading</class>
        <class>org.openelisglobal.coldstorage.valueholder.ThresholdProfile</class>
        <class>org.openelisglobal.coldstorage.valueholder.FreezerThresholdProfile</class>

        <!-- Notebook Management entities -->
        <class>org.openelisglobal.notebook.valueholder.NoteBook</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookPage</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookFile</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookComment</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookSample</class>

        <!-- Inventory Management entities (004-remove-old-inventory) -->
        <class>org.openelisglobal.inventory.valueholder.InventoryItem</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryStorageLocation</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryLot</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryTransaction</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryUsage</class>

        <!-- Patient Merge Backend entities (008-patient-merge-backend) -->
        <class>org.openelisglobal.patient.merge.valueholder.PatientMergeAudit</class>

        <properties>
            <property name="hibernate.cfg_xml_file"
                value="classpath:hibernate/hibernate.cfg.xml" />
            <property name="hibernate.search.backend.directory.type" value="local-filesystem" />
            <property name="hibernate.search.backend.directory.root" value="/var/lib/lucene_index" />
            <property name="hibernate.search.backend.analysis.configurer" value="class:org.openelisglobal.hibernate.search.analysis.CustomLuceneAnalysisConfigurer"/>
        </properties>

    </persistence-unit>
</persistence>
